<table class="table">
  <thead class="thead-light">
  <tr>
    <th scope="col">Название книги</th>
    <th scope="col">О книге</th>
    <th *ngIf="authority === 'admin'" scope="col">Изменить</th>
    <th *ngIf="authority === 'admin'" scope="col">Удалить</th>
  </tr>
  </thead>
  <tbody>
  <tr *ngFor="let book of books | async">
    <td scope="row"><b>{{book.title}}</b></td>
    <td>
      <button class="btn btn-info" (click)="bookDetails(book.id)">О книге</button>
    </td>
    <td *ngIf="authority === 'admin'">
      <button class="btn btn-warning" (click)="updateBook(book.id)">Изменить</button>
    </td>
    <td *ngIf="authority === 'admin'">
      <button class="btn btn-danger" (click)="deleteBook(book.id)">Удалить</button>
    </td>
  </tr>
  </tbody>
</table>
<button *ngIf="authority === 'admin'" (click)="createBook()" type="button" class="btn btn-success">Добавить книгу</button>
