<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans" xmlns:util="http://www.springframework.org/schema/util"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/util https://www.springframework.org/schema/util/spring-util.xsd">

    <bean id="surveyService" class="ru.otus.spring.service.impl.ConsoleSurveyService">
    </bean>

    <bean id="testingService" class="ru.otus.spring.service.impl.ConsoleTestingService">
        <constructor-arg ref="surveyService"/>
    </bean>

    <bean id="questionsDao" class="ru.otus.spring.dao.CsvQuestionsDao">
        <constructor-arg name="csvFile" value="csv/questions.csv"/>
    </bean>

    <bean id="application" class="ru.otus.spring.Application">
        <constructor-arg ref="testingService"/>
        <constructor-arg ref="questionsDao"/>
    </bean>

</beans>
