<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns="http://www.springframework.org/schema/beans"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="answers" class="ru.otus.spring.service.QuestionsService"></bean>

    <bean id="csvReader" class="ru.otus.spring.service.CsvService">
        <constructor-arg name="csvFile" value="homework01/src/main/resources/csv/questions.csv"/>
    </bean>

</beans>
