<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head(title = #{localized.addComment})"/>
<body class="text-center">
<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <header th:replace="fragments/header :: header"/>
    <main role="main" class="inner cover">
        <h2 th:text="#{localized.addComment}"/>
        <form th:action="@{/addComment}" th:object="${commentForm}" method="POST">
            <div class="form-group">
                <label class="leftstr" for="content" th:text="#{localized.comment}"/>
                <input class="rightstr" id="content" type="text" required="required" th:field="*{content}"/>
                <div style="clear: left; margin-bottom: 2rem;"></div>
            </div>
            <div class="form-group">
                <label class="leftstr" for="book" th:text="#{localized.book}"/>
                <input class="rightstr" id="book" type="text" required="required" th:field="*{book}"/>
                <div style="clear: left; margin-bottom: 2rem;"></div>
            </div>
            <button style="margin-bottom: 2rem" class="btn btn-lg btn-secondary" type="submit" th:text="#{localized.add}"/>
        </form>
    </main>
    <footer th:replace="fragments/footer :: footer"/>
</div>
</body>
</html>
