<!doctype html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/head :: head(title = #{localized.authors})"/>
<body class="text-center">
<div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <header th:replace="fragments/header :: header"/>
    <main role="main" class="inner">
        <div class="card text-center">
            <div class="card-header" th:text="#{localized.authors}"/>
            <div class="card-body align-center">
                <table class="table">
                    <thead>
                    <tr>
                        <th scope="col" th:text="#{localized.authorFullName}"/>
                        <th scope="col" th:text="#{localized.edit}"/>
                        <th scope="col" th:text="#{localized.delete}"/>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each ="author : ${authors}">
                        <th scope="row" th:utext="${author.fullName}"/>
                        <td><a th:href="@{/editAuthor/{id}(id=${author.id})}" th:text="#{localized.edit}"/></td>
                        <td><a th:href="@{/deleteAuthor/{id}(id=${author.id})}" th:text="#{localized.delete}"/></td>
                    </tr>
                    </tbody>
                </table>
                <a style="margin: 2rem" class="btn btn-lg btn-secondary" th:href="@{/addAuthor}" th:text="#{localized.add}"/>
            </div>
        </div>
    </main>
    <footer th:replace="fragments/footer :: footer"/>
</div>
</body>
</html>