<h2>Добавить отзыв</h2>
<form (ngSubmit)="onSubmit()">
  <div class="form-group container-fluid">
    <label for="content">Напишите сюда свой отзыв</label>
    <input class="form-control" type="text" id="content" required [(ngModel)]="comment.content" name="content">
    <label for="book">Книга, к которой написан отзыв</label>
    <input class="form-control" type="text" id="book" required [(ngModel)]="comment.book.title" name="book">
    <small [ngClass]="{modal:!error}" class="form-text alert alert-danger">Такой книги у нас нет!</small>
  </div>
  <button style="margin-bottom: 2rem" class="btn btn-lg btn-light" type="submit">Добавить</button>
</form>
